.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginform > * {
  margin-bottom: 5px
}

.form > input, .form > button {
  margin: 0 2px
}

@media (orientation:portrait) {
  .form {
    display: flex;
    flex-direction: column;
  }
  .form > input, .form > button {
    margin-bottom: 5px;
  }
}

.register span {
  font-size: 1rem;
}

.register span:after {
  content: '\27A1';
  margin: 0 3px;
}

.link {
  display: inline;
  text-decoration: underline;
  cursor: pointer;
}
