button {
  border-radius: 5px;
  height: var(--buttonHeight, 2rem);
  font-size: 1rem;
  background: #ffffff;
  border: 3px solid #5cd1f8;
  color: #5cd1f8;
  box-sizing: border-box;
  font-weight: bold;
}

button:not([disabled]):hover {
  background: #5cd1f8;
  color: #ffffff;
  text-shadow: none;
  cursor: pointer;
  transition: 0.3s;
}

button[disabled] {
  background: rgba(92, 209, 248, 0.3);
  cursor: not-allowed;
}
