.users {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}

.users table {
  background: white;
  width: 40%;
  border-spacing: 0;
}

.users td {
  padding: 1px 5px;
}

.users th {
  text-align: start;
  border-bottom: 1px solid;
  padding: 5px;
}

.users td:nth-of-type(2n), .users th:nth-of-type(2n) {
  text-align: end;
  border-left: 1px solid #aaa;
}

.users thead tr, .users tbody tr:nth-of-type(2n) {
  background: #eee;
}

.users tbody tr:hover {
  background: #ddd !important;
}
